html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,img,h3,h1 {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button:focus,img:focus {
    outline: none !important;
}
body{
  background-color: #0c0e11;
  position: relative;
  justify-content: center;
  font-family: 'Noto Sans', sans-serif;
}
img#image1{
  align-self: center;
  margin: auto;
  display: block;
}
h1#heading{
  font-size: 40px;
  color: #eee;
  font-weight: bolder;
  text-align: center;
}
h3{
  color: #eee;
  font-size: 15px;
  font-weight: lighter;
  margin: 0 auto;
  width: 400px;
}

.text-container{
  padding: 20px;
  width: 80vw;
  text-align: center;
  align-items: center;
  margin: auto;
  display: block;
}
.dot {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #ee00e0;
  border-radius: 50%;
}
p.text {
  font-family: 'Zilla Slab Highlight', cursive;
  position: absolute;
  color: #fff;
  display: inline-block;
  background-color: #000;
}
p.text:focus{
  outline-style:dashed;
  outline-width: thin;
  outline-color: #ee00e0;
}
p.text::selection {
  background-color: #ee00e0;
}
button{
  border: 2px solid #fff;
  border-radius: 25px;
  font-weight: 700;
  width: 200px;
  padding: 10px 15px;
  font-family: 'Poppins', serif;
  color: #fff;
  background-color: #FF10F0;
  /* visibility: hidden; */
  align-self: center;
  margin: auto;
  display: block;
  margin-top: 50px;
}
button:active{
  border: 2px solid #FF10F0;
  border-radius: 25px;
  font-weight: bold;
  padding: 10px 15px;
  color: #FF10F0;
  background-color: #fff;
}
.button-container{
  align-items: center;
  margin: auto;
  display: block;
}
svg#next, svg#prev{
  fill: #fff;
  display: block;
  align-self: center;
  margin: 0 auto;
  padding: 0;
  background-color: #FF10F0;
  border-radius: 50%;
}
svg#next{
  transform: translate(150px, -110px);
}
svg#prev{
  transform: translate(-150px, -50px) rotate(180deg);
}
svg#next:active, svg#prev:active{
fill: #FF10F0;
background-color: #fff;
}
